div {
    height: 100px; 
    background-color: pink;
    width: 100px;
    border-width: 3px;
    border-style: solid;
    border-color: brown;
    padding-left: 20px;
}

#div {
    border: 2px dotted green ; /*sorthand application for border.*/
    background-color: blanchedalmond;
    border-radius: 10px;
    padding: 20px; /* It will set 20px in the four direction.*/
}

h1 {
    text-align: center; /* heading will go in the center of height ana width.  */
    height: 50px;
    width: 200px;
    background-color:aqua ;
    border-width: 5px;
    border-style: double;
    border-color: chocolate;
    padding: 1px 2px 3px 4px; /*sorthand application for padding.*/
}

/* 
padding--
  space between content and border.
    pading-left,
    padding-right,
    padding-top,
    padding-bottom. 

padding shorthand:
    padding: top right bottom left.
*/